body {
  margin: 0; 
  padding: 0;
  height: 100vh;
  background-image: url('Image/background.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: rgb(139, 175, 175);
}



